html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #234488;
    padding: 40px 40px 40px 40px;
}

#map-container {
    height: 85%;
}

#map-outer {
    padding: 20px;
    border: 2px solid #CCC;
    background-color: #FFF
}

#creditos{
    padding: 20px;
    color: white;
}

@media all and (max-width: 991px) {
    #map-outer  {
        padding-bottom: 15px;
    }
}
